.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 40px;
    padding: 1rem 2rem;
    background-image: linear-gradient(90deg,rgba(42, 95, 155, 1) 0%, rgba(87, 106, 199, 1) 50%, rgba(83, 91, 237, 1) 100%);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #646cff;
}

.links{
    display: flex;
    gap: 25px;
}

.link{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.link:hover{
    color: #646cff;
}

.active{
    border-bottom: 2px solid #646cff;
    color: #646cff;
}