.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 10%;
    background-color: #242424;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(90deg,rgba(155, 85, 42, 1) 0%, rgba(199, 141, 87, 1) 50%, rgba(255, 183, 100, 1) 100%);
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffb764;
}

.links{
    display: flex;
    gap: 25px;
}

.link{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.link:hover{
    color: #000000;
}

.active{
    border-bottom: 2px solid #ffb764;
    color: #b164ff;
}